%h3
  Current Species

#latin_list
  - @druhs.each_index do |i|
    - eyelink = sprintf('%02d', @druhs[i].id)
    .line
      .entry{:id => "e#{eyelink}"}
        = @druhs[i].gen.subfam.name.capitalize        
        = @druhs[i].gen.name.capitalize
        %a{:href => "#"}
          = @druhs[i].name.capitalize
      = haml_partial "admin/partials/_controls", :locals => { :link => 'species', :id => eyelink.to_i, :eyelink => eyelink }
