.controls
  %form.inline{:action => "/admin/#{link}/#{id}", :method => "get"}

    (
    %a{:id => "edit#{eyelink}", :href => "#"}
      edit
    ) 
  %form.inline{:action => "/admin/#{link}/#{id}", :method => "post"}
    %input{:type => "hidden", :name => "_method", :value => "delete"}
    (
    %a{:id => "delete#{eyelink}", :href => "#"}
      delete
    )
