%form{:id => "admin_form", :action => "/admin/#{link}#{model.nil? ? '' : ('/' + model.id.to_s)}", :method => "post"}
  - if !model.nil?
    %input{:type => "hidden", :name => "_method", :value => "put"}
  %p
    - if var == "gen"
      %input{:type => "hidden", :id => "#{var}_subfam_id", :name => "#{var}[subfam_id]"}
    - if var == "druh"
      %input{:type => "hidden", :id => "#{var}_gen_id", :name => "#{var}[gen_id]"}
      %input{:type => "hidden", :id => "#{var}_common_names", :name => "#{var}[common_names]"}
    %label{:for => "#{var}_name"}
      Name:
    %input{:type => "text", :size => 20, :id => "#{var}_name", :name => "#{var}[name]", :value => "#{!model.nil? ? model.name : ''}"}
    %br
    %label{:for => "#{var}_description"}
      Description:
    %br
    %textarea{:cols => 40, :rows => 5, :id => "#{var}_description", :name => "#{var}[description]"}
      = !model.nil? ? model.description : ''
    %br
    %input{:type => "button", :id => "admin_button", :value => "Oouh!"}
    %input{:type => "button", :id => "admin_cancel_button", :value => "Cancel"}
